
@{
    ViewData["Title"] = "NewRental";
}

<h1>Create New Rental</h1>

<form>

    <div class="">
        <label>Customer</label>
        <input type="text" class="form-control" value=""/>
    </div>
    <div class="form-group">
        <label>Movie</label>
        <input type="text" class="form-control" value=""/>
    </div>
    <button class="btn btn-primary">Submit</button>
    
</form>

