@model dynamic

@{
    ViewData["Title"] = "NewRental";
}

<h1>Create New Rental</h1>

<form id="newRental">

    <div class="">
        <label>Customer</label>
    <div class="tt-container">
            <input id="customer" name="customer" data-rule-validCustomer="true" required type="text" class="form-control" value="" />
    </div>
    </div>
    <div class="">
        <label>Movie</label>
    <div class="tt-container">
            <input id="movie" name="movie" data-rule-atLeastOneMovie="true" type="text" class="form-control" value="" />
    </div>
    </div>
    <button class="btn btn-primary">Submit</button>

    <div class="row">
        <div class="col-md-4">
            <ul id="selectMovies" class=""></ul>
        </div>
    </div>
</form>


@section Scripts {
    <script>
        $(document).ready(function () {
            var vm = {
                movieIds: []
            };
            var customers = new Bloodhound({
                datumTokenizer: Bloodhound.tokenizers.obj.whitespace('name'),
                queryTokenizer: Bloodhound.tokenizers.whitespace,
                remote: {
                    url: '/api/customers?query=%QUERY',
                    wildcard: '%QUERY'
                }
            });

            $('#customer').typeahead({
                minLength: 3,
                highlight: true
            }, {
                name: 'customers',
                display: 'name',
                source: customers
            }).on("typeahead:select", function(e, customer){
                vm.customerId = customer.id;
            });
        
            var movies = new Bloodhound({
                datumTokenizer: Bloodhound.tokenizers.obj.whitespace('title'),
                queryTokenizer: Bloodhound.tokenizers.whitespace,
                remote: {
                    url: '/api/movies?query=%QUERY',
                    wildcard: '%QUERY'
                }
            });

            $('#movie').typeahead({
                minLength: 3,
                highlight: true
            }, {
                name: 'movies',
                display: 'title',
                source: movies
            }).on("typeahead:select", function(e, movie){
                 $('#selectMovies').append('<li class="">' + movie.title + '</li>');
                 $('#movie').typeahead('val', '');
                 vm.movieIds.push(movie.id);
                 console.log('movie.id: ', vm.movieIds)
            });

            $.validator.addMethod('validCustomer', function() {
                return vm.customerId && vm.customerId !== 0;
            }, 'Please select a valid customer..');

             $.validator.addMethod("atLeastOneMovie", function () {
                return vm.movieIds.length > 0;
            }, "Please select at least one movie.");

            var validator = $('#newRental').validate({
                submitHandler: function() {

                $.ajax({
                    url: '/api/NewRentals',
                    method: 'post',
                    contentType: 'application/json',
                    data: JSON.stringify({
                    CustomerId: vm.customerId,
                    MovieIdes: vm.movieIds
                    })
                })
                .done(function() {
                    toastr.success("Rental succesfully recorded..");

                    $("#customer").typeahead("val", "");
                        $("#movie").typeahead("val", "");
                        $("#selectMovies").empty();

                        vm = { movieIds: [] };

                        validator.resetForm();
                })
                .fail(function() {
                    toastr.error("Rental did not succeed..");
                    $("#selectMovies").empty();
                    vm = { movieIds: [] };
                });
                return false;
                }
            });
        });
    </script>
}
