@model dynamic

@{
    ViewData["Title"] = "NewRental";
}

<h1>Create New Rental</h1>

<form>

    <div class="">
        <label>Customer</label>
        <input id="customer" name="customer" type="text" class="form-control" value="" />
    </div>
    <div class="form-group">
        <label>Movie</label>
        <input id="movie" name="movie" type="text" class="form-control" value="" />
    </div>
    <button class="btn btn-primary">Submit</button>

    <ul id="movies" class="list-group"></ul>

    
</form>


@section Scripts {
    <script>
        $(document).ready(function () {
            var vm = {
                movieIds: []
            };
            var customers = new Bloodhound({
                datumTokenizer: Bloodhound.tokenizers.obj.whitespace('name'),
                queryTokenizer: Bloodhound.tokenizers.whitespace,
                remote: {
                    url: '/api/customers?query=%QUERY',
                    wildcard: '%QUERY'
                }
            });

            $('#customer').typeahead({
                minLength: 3,
                highlight: true
            }, {
                name: 'customers',
                display: 'name',
                source: customers
            }).on("typeahead:select", function(e, customer){
                vm.customerId = customer.id;
            });
        });
   
        $(document).ready(function () {
            var vm = {};
            var movies = new Bloodhound({
                datumTokenizer: Bloodhound.tokenizers.obj.whitespace('title'),
                queryTokenizer: Bloodhound.tokenizers.whitespace,
                remote: {
                    url: '/api/movies?query=%QUERY',
                    wildcard: '%QUERY'
                }
            });

            $('#movie').typeahead({
                minLength: 3,
                highlight: true
            }, {
                name: 'movies',
                display: 'title',
                source: movies
            }).on("typeahead:select", function(e, movie){
                 $('#movies').append('<li>' + movie.title + '</li>');
                 $('#movies').typeahead('val', '');
                 vm.movieIds.push(movie.id);
            });
        });
    </script>
}
